<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordTranslator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91AF3D742D72F3D20004D40E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91AF3D852D72F3D40004D40E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91AF3D8F2D72F3D40004D40E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
